language: python
python:
  - "3.6"
services: postgresql
install:
  - pip install -r requirements.txt
env:
  - DJANGO_SETTINGS_MODULE='daedalus.settings'
before_script:
  - psql -c "CREATE DATABASE daedalus_db;" -U postgres
script:
  - python manage.py migrate
  - python manage.py test modeling.tests

